/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Caveat";
}

img {
  width: 100px;
}

#activity {
  background-color: #f1faee;
  height: 380px;
}

#activity h3 {
  padding: 30px;
  font-size: 24px;
}

.activities {
  display: flex;
  margin: 20px 0px 0px 0px;
}

.activities img {
  border-radius: 50%;
  height: 100px;
  background-size: cover;
  filter: saturate(2);
  margin-bottom: 20px;
}

.activities p {
  margin: 20px;
}
.hero {
  height: 440px;
  background-image: url("./images/pooram.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  background-color: #1d3557;
  color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.hero h2 {
  background-color: #457b9d;
  color: white;
  text-align: center;
  width: 50%;
  padding: 5px 30px;
  border-radius: 10px;
}

/* #hero h2 {
  width: 60%;
  margin: 0 auto;
} */
